
<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <div id="header">
    <span class="logo">Cisco Intern App</span>

    <ul class="menu">
      <li>
        <a href="http://localhost:4200/polls">Polls</a>
      </li>
      <li>
        <a href="http://localhost:4200/image">Image</a>
      </li>
      <li>
        <a href="http://localhost:4200/feedback">Feedback</a>
      </li>
    </ul>


  </div>


  <div id="content">
    <router-outlet></router-outlet>
  </div>


</body>
</html>















